body{
    background-color: beige;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.container{
    background-color: bisque;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

header{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

button{
    background-color: lightpink;
    width: 149px;
    height: fit-content;
    border-radius: 10px;
}

img{
    width: 100%;
}

section{
    display: none;
    flex-direction: column;
    gap: 5px;
}

.isi{
    display: inline;
}